.i {
  display: flex;
  height: auto;

}
.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-right {
  flex: 1.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.i-left-wrapper {
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.i-main-img {
  height: 400px;
}
.i-intro {
  font-size: 30px;
  font-weight: 300;
}

.i-name {
  font-size: 60px;
}

.i-title {
  margin-top: 20px;
  height: 50px;
  overflow: hidden;
 
}

.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
  
}


@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #FFAC00;
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
}


:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.i-right {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  display: block;
}
.i-right-wrapper {
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20%;
}
.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
  font-weight: var(--weight1);
}
.header h1{
  padding-bottom: 10px;
 }

 .cyan img {
height: 70px;
 }
 img {
  float: right;
  padding: 5px;
}
@media (max-width: 400px) {

  h1 {
      font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  position: relative;
  margin: 50px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;  
}

img {
  float: right;
  padding: 5px;
}
.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #FFAC00;
  display: flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}


@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
  .bottom-box {
  position: relative;
 
  }
  .header p {
      width: 30%;
  }
  
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  .i-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .header h1{
    padding-bottom: 10px;
   }
}
@media (min-width: 500px) and (max-width: 700px) {
  .i {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .i-left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .header h1{
   padding-bottom: 10px;
  }
  
}